<div *ngIf="!wantToDelete" class="modal-header">
  <h3 class="modal-title">{{movie.title | titlePipe: movie.title}}</h3>
  <div class="modal-action">
    <button class="btn-action modal-edit" (click)="toggleEditMode()"><i class="fas fa-pen"></i></button>
    <button class="btn-action modal-delete" (click)="showConfirmation()"><i class="fas fa-trash"></i></button>
    <button *ngIf="trailerPath" class="btn-action modal-play" (click)="showTrailerWindow()"><i class="fas fa-play"></i></button>
  </div>
</div>

<div class="delete-confirmation" *ngIf="wantToDelete">
  <h4>Delete - {{movie.title}}</h4>
  <button type="submit" class="btn btn-warning btn-modal" (click)="deleteMovie()">Yes</button>
  <button type="submit" class="btn btn-dark btn-modal" (click)="dismiss()">No</button>
</div>

<div *ngIf="!wantToDelete" class="modal-body">
  <div class="row">
    <div class="col-md-5 d-none d-md-none d-sm-none d-lg-block d-xl-block modal-body-img" [class.blur]="editMode">
      <img class="shadow-lg" [src]="movieImgSrc">
    </div>
    <div class="col-md-7">
      <div class="modal-data" [class.blur]="editMode">
        <p>Release date: <span>{{movie.year}}</span></p>
      </div>
      <div class="modal-data" [class.blur]="editMode">
        <p>Directed by: <span>{{movie.director | titlePipe: movie.director }}</span></p>
      </div>
      <div class="modal-data" [class.blur]="editMode">
        <p>Genre: <span>{{movie.genre | titlePipe: movie.genre}}</span></p>
      </div>
      <div class="modal-data" [class.blur]="editMode">
        <p>Runtime: <span>{{movie.runtime}} min</span></p>
      </div>
      <div class="modal-data" [class.blur]="editMode">
        <p class="description">Overview: <span>{{movie.description}}</span></p>
      </div>
      <div *ngIf="editMode" class="modal-body">
        <app-movie-editor class="newModal" (movieEdited)="editMovie($event)" [movie]="curentEditedMovie"></app-movie-editor>
      </div>
      <div *ngIf="isTrailerShown" class="modal-trailer">
        <button class="btn btn-info btn-trailer" (click)="closeTrailer()"><i class="fas fa-times"></i></button>
        <iframe *ngIf="trailerPath" width="420" height="300" [src]='trailerPath' frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="trailer-not-available" *ngIf="!trailerPath">
        <h5>Trailer is not available right now</h5>
      </div>
    </div>
  </div>
</div>