
<div *ngIf="!movie.id" class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add new book.</h4>
</div>
<div class="row" [class.new-movie-form]="!movie.id">
  <form #editorForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="control-label">Name</label>
        <input required type="text" class="form-control" [class.is-invalid]="isTitleAvaliable && (movieTitle.invalid && movieTitle.touched) || !isTitleAvaliable" [class.is-valid]="movieTitle.valid" name="movieTitle" #movieTitle="ngModel" (keyup)="validateMovieTitle(movie)"  [(ngModel)]="movie.title" placeholder="Name" >
        <span *ngIf="movieTitle.invalid && movieTitle.touched" class="help-block">{{titleHintMsg}} </span>
        <span *ngIf="!isTitleAvaliable" class="help-block">{{titleHintMsg}}</span>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Director</label>
        <input required type="text" class="form-control" [class.is-invalid]="movieDirector.invalid && movieDirector.touched" [class.is-valid]="movieDirector.valid" #movieDirector="ngModel" name="movieDirector" [(ngModel)]="movie.director" placeholder="Director">
        <span *ngIf="movieDirector.invalid && movieDirector.touched" class="help-block">movie director is required</span>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Released Date</label>
        <input required type="date" class="form-control" [class.is-invalid]="!isDateValid || (movieYear.invalid && movieYear.touched)" [class.is-valid]="movieYear.valid" #movieYear="ngModel" name="movieYear" (change)="validateMovieDate(movie)" [(ngModel)]="movie.year" placeholder="Released Date">
        <span *ngIf="!isDateValid" class="help-block">{{dateHintMsg}}</span>
      </div>
      <div class="form-group col-md-6">
        <label class="control-label">Genre</label>
        <input required type="text" class="form-control" [class.is-invalid]="movieGenre.invalid && movieGenre.touched" [class.is-valid]="movieGenre.valid" #movieGenre="ngModel" name="movieGenre" [(ngModel)]="movie.genre" placeholder="Genre">
        <span *ngIf="movieGenre.invalid && movieGenre.touched" class="help-block">movie genre is required</span>
      </div>
      <textarea required class="form-control" [class.is-invalid]="movieDescription.invalid && movieDescription.touched" [class.is-valid]="movieDescription.valid" #movieDescription="ngModel" name="movieDescription" [(ngModel)]="movie.description" placeholder="Overview"></textarea>
      <span *ngIf="movieDescription.invalid && movieDescription.touched" class="help-block">movie description is required</span>
    </div>
    <button type="submit" class="btn btn-primary btn-modal" (click)="saveAndcloseModal()" [disabled]="editorForm.invalid || !isTitleAvaliable">Save</button>
    <button type="submit" class="btn btn-primary btn-modal" (click)="dismissModal()">Cancel</button>
  </form>
</div>