<nav class="navbar">
  <a class="navbar-brand">Movie-store.</a>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" (click)="showPopularMovies()"><a class="movie-type">Popular</a></li>
    <li class="breadcrumb-item" (click)="showTopRatedMovies()"><a class="movie-type">Top rated</a></li>
    <li class="breadcrumb-item" (click)="showUpcomingMovies()"><a class="movie-type">Upcoming</a></li>
  </ol>
  <button class="btn my-2 my-sm-0 btn-info" type="submit" (click)="openNewMovieEditor()">Add</button>
</nav>

<div class="container">
  <h3 class="header">{{title}}</h3>
  <div class="row">
    <div class="col-md-3 col-mb" *ngFor="let movie of movieListForView">
      <app-movie-item data-sal="fade" [movie]=movie (movieEdited)="showMovieCard(movie)"></app-movie-item>
    </div>
  </div>
</div>

<ng-template #movieModal let-modal>
  <app-movie-modal class="modal-content"  [movie]=currentEditMovie></app-movie-modal>
</ng-template>

<ng-template #newMovieModal let-modal>
    <app-movie-editor class="modal-content" (movieEdited)="addNewMovie($event)" [movie]="movie"></app-movie-editor>
  </ng-template>