<nav class="navbar">
  <a class="navbar-brand">Movie-store.</a>
  <ol class="breadcrumb">
    <li class="breadcrumb-item" (click)="showPopularMovies()"><a class="movie-type">Popular</a></li>
    <li class="breadcrumb-item" (click)="showTopRatedMovies()"><a class="movie-type">Top rated</a></li>
    <li class="breadcrumb-item" (click)="showUpcomingMovies()"><a class="movie-type">Upcoming</a></li>
  </ol>
  <button class="btn-action btn-info new-book-btn" type="submit" (click)="openNewMovieEditor()"><i class="fas fa-plus"></i></button>
</nav>

<section class="container-fluid col-mb">
  <drag-scroll>
    <img *ngFor="let movie of movieListForView" drag-scroll-item [src]="imageService.getImage('w185',movie.photo)" />
  </drag-scroll>
</section>


<div class="container">
  <h3 class="header">{{title}}</h3>
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12 col-mb" *ngFor="let movie of movieListForView">
      <app-movie-item data-sal="fade" [movie]=movie (movieEdited)="showMovieCard(movie)" (trailerClicked)="openTrailerView(movie)"></app-movie-item>
    </div>
  </div>
</div>

<ng-template #movieModal let-modal>
  <app-movie-modal class="modal-content" [movie]=currentEditMovie></app-movie-modal>
</ng-template>

<ng-template #newMovieModal let-modal>
  <app-movie-editor class="modal-content" (movieEdited)="addNewMovie($event)" [movie]="movie"></app-movie-editor>
</ng-template>

<div *ngIf="isTrailerShown" class="trailer">
  <button class="btn btn-info btn-trailer" (click)="closeTrailer()"><i class="fas fa-times"></i></button>
  <iframe *ngIf="trailerPath" width="420" height="315" [src]='trailerPath'
    frameborder="0" allowfullscreen></iframe>
  <div *ngIf="!trailerPath" class="not-available">
    <h3>Trailer not available</h3>
  </div>
</div>