@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
body {
    background: linear-gradient(30deg, #828989 10%, #2D3840 90%);
    font-family: 'Raleway', 'Arial';
}

p {
    margin: 0;
    padding: 0;
}

.trailer {
    position: fixed;
    bottom: 0;
    right: 0px;
    background-color: #828989;
    .btn-trailer {
        border-radius: 500px;
        position: fixed;
        right: 400px;
    }
    .not-available {
        width: 420px;
        text-align: center;
    }
}

form {
    padding: 10px;
    .form-group {
        .control-label {
            margin-bottom: 0;
        }
        input {
            font-size: 13px;
        }
    }
}

.btn-modal {
    margin-top: 10px;
    margin-right: 10px;
}

.btn-action {
    border-radius: 500px;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    position: relative;
    border: none;
    outline: none;
}

.blur {
    filter: blur(3px);
    transition: 0.5s;
    padding-bottom: 0;
}

.col,
.row {
    margin: 0;
    padding: 0;
}

.col-mb {
    margin-bottom: 60px;
}

.is-invalid {
    border: 1px solid red;
    border-left: 5px solid red;
    transition: 0.3s;
}

.is-valid {
    border: 1px solid #28a745;
    border-left: 5px solid #28a745;
    transition: 0.3s;
}

.help-block {
    color: red;
    font-weight: 500;
}

.header {
    margin-bottom: 55px;
    margin-left: 13px;
    color: white;
}

nav {
    margin-bottom: 50px;
    &.navbar {
        padding: 30px;
        .navbar-brand {
            color: gold;
            font-weight: bold;
            font-size: 30px;
            &:hover {
                color: gold;
            }
        }
        .breadcrumb {
            background-color: transparent;
            text-decoration: none;
            margin-bottom: 0;
            .breadcrumb-item {
                color: white;
                text-decoration: none;
                background-color: transparent;
                font-size: 17px;
                .movie-type {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        border-bottom: 2px solid gold;
                        transition: 0.2s;
                        padding-bottom: 2px;
                    }
                }
                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
    .new-book-btn {
        cursor: pointer;
    }
}

app-movie-item {
    cursor: pointer;
    .movie-img {
        border-radius: 5px;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
        &:hover {
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5), 0 5px 15px 0 rgba(0, 0, 0, 0.3);
            transition: 0.3s;
        }
    }
    .btn-play {
        cursor: pointer;
        top: 30px;
        left: -22px;
        background-color: #17a2b8;
    }
    .btn-rating {
        top: 75px;
        left: -60px;
        background-color: gold;
    }
    .movie-title {
        color: white;
        margin-top: 10px;
        font-weight: bold;
        text-overflow: ellipsis;
        font-size: 15px;
        width: 190px;
        word-break: break-word;
    }
    .movie-genre {
        color: #d3d3d387;
        font-size: 14px;
    }
}

app-movie-modal {
    .modal-header {
        border-bottom: none;
        .modal-title {
            word-break: break-word;
        }
        .modal-action {
            .modal-delete,
            .modal-edit,
            .modal-play {
                cursor: pointer;
                margin-right: 5px;
            }
            .modal-delete {
                background-color: #2D3840;
            }
            .modal-edit {
                background-color: gold;
            }
            .modal-play {
                background-color: #17a2b8;
            }
        }
    }
    .modal-body {
        .modal-body-img {
            max-width: 40%;
            position: relative;
            left: -100px;
        }
        .modal-data {
            p {
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 14px;
                span {
                    font-weight: 300;
                }
            }
        }
    }
    .modal-trailer {
        position: relative;
        bottom: 0;
        right: 0;
        .btn-trailer {
            border-radius: 500px;
            position: fixed;
        }
    }
    .trailer-not-available {
        text-align: center;
        margin-top: 60px;
    }
}

.delete-confirmation {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}


